<!DOCTYPE>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="image-show"></div>
        <div class="image-choice">
            <div class="image-type">
                类别：
                <input type="radio" checked name="type" value="类别1"/>类别1
                <input type="radio" name="type" value="类别2"/>类别2
                <input type="radio" name="type" value="类别3"/>类别3
                <input type="radio" name="type" value="类别4"/>类别4
                <input type="radio" name="type" value="类别5"/>类别5
            </div>
            <div class="image-level">
                程度：
                <input type="radio" checked name="level" value="程度1"/>程度1
                <input type="radio" name="level" value="程度2"/>程度2
                <input type="radio" name="level" value="程度3"/>程度3
                <input type="radio" name="level" value="程度4"/>程度4
                <input type="radio" name="level" value="程度5"/>程度5
            </div>
        </div>
        <div class="image-button">
            <input type="button" value="SUBMIT" id="img-submit"/>
        </div>
    </body>
    <script src="js/jquery.min.js"></script>
    <script src="js/Blob.js"></script>
    <script src="js/FileSaver.min.js"></script>
    <script src="js/main.js"></script>
</html>