<!DOCTYPE>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="index-form">
            <input type="text" class="index-input" id="index-name" placeholder="用户名"/><br/><br/>
            <textarea name="remark" id="index-remark" placeholder="描述"></textarea><br/><br/>
            <input type="button" id="index-next" value="NEXT"/>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/Blob.js"></script>
        <script src="js/FileSaver.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>